{%  extends 'AdminBundle:Template:adminTemplate.html.twig'  %}

{% block content %}
    {% if breadcrumb is defined %}
        <nav class="breadcrumb">
            {% for item in breadcrumb %}
                <span>
            <a href="{{ path(item.route) }}"> {{ item.name }} </a>
        </span>
            {% endfor %}
            {% if slug is defined %}
            <span>
                {{ slug|capitalize }}
            </span>
            {% endif %}
        </nav>
    {% endif %}
    <div class="container">
    {% if pages is not empty %}
        <h1>Pages</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                {% if page.getCategory().count > 0 %}
                <tr>
                    <td> <a href="{{ path('admin_page_show', { "slug" : page.slug }) }}">{{ page.title }}</a> </td>
                    <td>
                        <a href="{{ path('admin_page_edit', {"slug": page.slug}) }}" type="button" class="btn btn-outline-primary">Gérer la page</a>
                        <a href="{{ path('admin_page_show', {"slug": page.slug}) }}" type="button" class="btn btn-outline-primary">Gérer les blocs</a>
                        <a href="#" data-pageToDelete="{{ path('admin_page_delete', {"slug": page.slug}) }}" type="button" class="btn btn-danger sweetalert">Supprimer</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <h1>Pages sans catégorie</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                {% if page.getCategory().count() == 0 %}
                <tr>
                    <td> <a href="{{ path('admin_page_show', { "slug" : page.slug }) }}">{{ page.title }}</a> </td>
                    <td>
                        <a href="{{ path('admin_page_edit', {"slug": page.slug}) }}" type="button" class="btn btn-outline-primary">Gérer la page</a>
                        <a href="{{ path('admin_page_show', {"slug": page.slug}) }}" type="button" class="btn btn-outline-primary">Gérer les blocs</a>
                        <a href="#" data-pageToDelete="{{ path('admin_page_delete', {"slug": page.slug}) }}" type="button" class="btn btn-danger sweetalert">Supprimer</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-primary" role="alert">
                Il n'y a pas de page de créée actuellement.
            </div>
        {% endif %}
        <a href="{{ path("admin_page_add") }}" type="button" class="btn btn-primary">Créer une page</a>
        <a href="{{ path("admin_dashboard") }}" type="button" class="btn btn-primary">Retour</a>
    </div>
    <script>
        $(function(){
            $('.sweetalert').on('click', function(){
                swal({
                    title: "Etes-vous sûr?",
                    text: "Une fois supprimée, vous ne pourrez plus récupérer la page!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            window.location.replace($(this).attr('data-pageToDelete'));
                        } else {
                            swal("La page n'a pas été supprimée!");
                        }
                    });
            })
        });
    </script>
{% endblock %}